/* colors */
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

$color-green: #1eb949;
$color-orange: #fc5239;
$color-blue: #2c39f2;
$color-light-gray: #f5f5f5;
$color-gray: #9d9d9d;

$slug: 'https://static.willskill.ru/f/ru/promo/menedger-marketpleysov-a/';
