@import './variables';

.reviews {
  padding: 70px 0;

  @media (max-width: 998px) {
    padding: 40px 0;
  }

  :global {
    h2.section__title {
      margin-bottom: 30px;
    }
    .container {
      position: relative;
    }
    .reviews__body {
      max-width: 1152px;
      margin: 0 auto;
    }
    .swiper-pagination {
      position: relative;
      margin-top: 40px;
      justify-content: center;
    }
    .swiper-pagination-bullet {
      position: relative;
      width: 16px;
      height: 16px;
      border: 0;
      opacity: 1;
      transition: 0.3s;
      background: #e8e8e8;
      cursor: pointer;
      &::before {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        transition: 0.3s;
        background: linear-gradient(
          129.72deg,
          #81f4b4 10.58%,
          #86c2f4 35.72%,
          #b3a5fe 67.24%,
          #f2b0ed 98.6%
        );
        opacity: 0;
        pointer-events: none;
        content: '';
      }
    }
    .swiper-pagination-bullet-active {
      &::before {
        opacity: 1;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      top: 58%;
      width: 53px;
      height: 53px;
      background-image: url($slug + 'arrow.svg');
      background-position: center;
      transition: 0.3s;
      filter: grayscale(1) brightness(0.1);
      opacity: 0.1;
      background-repeat: no-repeat;

      &::after {
        display: none;
      }
      &:hover,
      &:active {
        filter: none;
        opacity: 1;
      }
    }
    .swiper-button-prev {
      left: -40px;
      transform: scale(-1, 1);
    }
    .swiper-button-next {
      right: -40px;
    }
    @media (max-width: 1400px) {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
    .review {
      position: relative;
      display: flex;
      height: auto;
      padding: 0 24px 56px;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      &::before {
        position: absolute;
        top: 65px;
        left: 0;
        bottom: 0;
        right: 0;
        border: 2px solid #000000;
        border-radius: 11px;
        box-sizing: border-box;
        content: '';
      }
      picture {
        position: relative;
        margin-bottom: 20px;
        justify-content: center;
        z-index: 2;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid #000000;
        background-color: #000000;
      }
      h3 {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
      }
      h3 + p {
        font-size: 21px;
        line-height: 24px;
        text-align: center;
      }
      p + p {
        margin-top: 22px;
        font-size: 21px;
        line-height: 24px;
        text-align: left;
      }
      @media (max-width: 998px) {
        padding: 0 20px 30px;
        &::before {
          top: 50px;
        }
        picture {
          max-width: 100px;
        }
        h3 {
          font-size: 18px;
          line-height: 21px;
        }
        h3 + p {
          font-size: 18px;
          line-height: 21px;
        }
        p + p {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
}
